<!DOCTYPE html>
<html>
<head>
    <title>Add Degree Class</title>
</head>
<body>
    <h1>Add a New Degree Class Record</h1>
    <form method="post">
        Degree Name: <input type="text" name="degree_name"><br>
        Class Name: <input type="text" name="class_name"><br>
        Class Year: 
        <select name="class_year">
            <option value="1st">1st</option>
            <option value="2nd">2nd</option>
            <option value="3rd">3rd</option>
            <option value="4th">4th</option>
        </select><br>
        Number of Students: <input type="number" name="number_of_students" min="0"><br>
        <input type="submit" value="Add Degree Class">
    </form>
</body>
</html>

