<!DOCTYPE html>
<html>
<head>
    <title>Select Table to View</title>
</head>
<body>
    <h1>Select Table</h1>
    <form method="post">
        Table Name: 
        <select name="table_name">
            <option value="courses">Courses</option>
            <option value="students">Students</option>
            <option value="degree_class">Degree Class</option> <!-- New option for degree_class table -->
        </select><br>
        <input type="submit" value="View Table">
    </form>
</body>
</html>